@import "../../styles/main";

.g-sidebar {
  display: none;
  @include mq-medium(up) {
    top: 0;
    width: 100%;
    display: flex;
    max-width: 360px;
    min-width: 360px;
    position: sticky;
    flex-direction: column;
    height: 100%;
    border-right: 1px solid var(--colors-neutral-96);
    background-color: var(--colors-neutral-100);
    &-container {
      height: 100%;
    }
  }
}