@import "../../../../../styles/_variables";
.main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    .main-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: $token-spacing-xlarge $token-spacing-large;
    }
}