@import "../../../styles/main";

.header-button {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--colors-neutral-28);
  text-wrap: nowrap;
  font-size: var(--dimensions-regular);
  font-weight: var(--text-weights-medium);
  transition: all 0.2s ease-in-out;

  &::after {
    content: "";
    background-color: transparent;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    transition: all 0.2s ease-in-out;
  }

  &:hover::after {
    width: var(--dimensions-regular);
    background-color: var(--colors-primary-100);
  }

  &:hover {
    color: var(--colors-primary-100);
  }
}