@import "../../styles/main";

$header-height-mobile: 55px;
$header-height-desktop: 68px;

.header-container {
  height: $header-height-mobile;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--dimensions-xx-tiny) var(--dimensions-x-small);
  border-bottom: 1px solid var(--colors-neutral-96);
  background-color: var(--colors-neutral-70);
  &__brand {
    display: flex;
    align-items: center;
    justify-content: center;
    &--button {
      margin-right: var(--dimensions-xx-tiny);
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    &--logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--dimensions-large);
        width: var(--dimensions-large);
    }
  }
  &__nav {
    display: none;
  }

  // MD-UP
  @media screen and (min-width: 720px) {
    height: $header-height-desktop;
    &__brand {
      &--button {
        display: none;
      }
    }
    &__nav {
      display: block;
      &--list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--dimensions-large);
        &-item {
          display: inherit;
        }
        //&-dropdown {
        //  a {
        //    padding: 0.75rem 1.25rem;
        //
        //    &:hover {
        //      background-color: var(--colors-primary-80);
        //      color: var(--colors-neutral-12);
        //    }
        //
        //    &::after {
        //      display: none;
        //    }
        //  }
        //}
      }
    }
  }
}