@import "../../../styles/main";

.group-sidebar {
  border-bottom: 1px solid var(--colors-neutral-96);
  &__title {
    font-weight: 400;
    padding: 1.25rem 1.75rem 0;
    color: var(--colors-neutral-28);
  }
}