@import "../../styles/main";
.text {
  &__variant {
    &--tiny{
      font-size: var(--text-sizes-x-small);
      line-height: var(--text-line-heights-tiny);
      font-weight: var(--text-weights-normal);
    }
    &--xsmall{
      font-size: var(--text-sizes-x-small);
      line-height: var(--text-line-heights-tiny);
      font-weight: var(--text-weights-normal);
    }
    &--small{
      font-size: var(--text-sizes-x-small);
      line-height: var(--text-line-heights-small);
      font-weight: var(--text-weights-normal);
    }
    &--regular{
      font-size: var(--text-sizes-x-small);
      line-height: var(--text-line-heights-regular);
      font-weight: var(--text-weights-normal);
    }
    &--medium{
      font-size: var(--text-sizes-medium);
      line-height: var(--text-line-heights-medium);
      font-weight: var(--text-weights-normal);
    }
    &--large{
      font-size: var(--text-sizes-large);
      line-height: var(--text-line-heights-large);
      font-weight: var(--text-weights-normal);
    }
    &--xlarge{
      font-size: var(--text-sizes-x-large);
      line-height: var(--text-line-heights-x-large);
      font-weight: var(--text-weights-normal);
    }
    &--big{
      font-size: var(--text-sizes-big);
      line-height: var(--text-line-heights-big);
      font-weight: var(--text-weights-normal);
    }
    &--huge{
      font-size: var(--text-sizes-huge);
      line-height: var(--text-line-heights-huge);
      font-weight: var(--text-weights-normal);
    }
    &--giant{
      font-size: var(--text-sizes-giant);
      line-height: var(--text-line-heights-giant);
      font-weight: var(--text-weights-normal);
    }
  }
  &__weight {
    &--normal{
      font-weight: var(--text-weights-normal);
    }
    &--medium{
      font-weight: var(--text-weights-medium);
    }
    &--semi-bold{
      font-weight: var(--text-weights-semi-bold);
    }
    &--bold{
      font-weight: var(--text-weights-bold);
    }
  }
}