@import "../../../../styles/main";

.profile {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 24px 5px;
  background-color: var(--colors-primary-100);
  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    &--name {
      font-weight: var(--text-weights-semi-bold);
      font-size: var(--text-sizes-medium);
      color: var(--colors-neutral-100);
    }
    &--email {
      color: var(--colors-neutral-100);
      font-size: var(--text-sizes-small);
    }
    &--button {
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: flex-start;
      font-weight: var(--text-weights-semi-bold);
      color: var(--colors-neutral-100);
      padding: 5px 0;
      &-icon {
        margin-left: 5px;
        margin-top: 6px;
      }
    }
  }
}