@import "../../../../../../../styles/variables";
.profile {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 24px 5px;
  background-color: $token-color-primary-100;
  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    &--name {
      font-weight: $token-font-weight-semi-bold;
      font-size: $token-size-font-medium;
      color: $token-color-neutral-100;
    }
    &--email {
      color: $token-color-neutral-100;
      font-size: $token-size-font-small;
    }
    &--button {
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: flex-start;
      font-weight: $token-font-weight-semi-bold;
      color: $token-color-neutral-100;
      padding: 5px 0;
      &-icon {
        margin-left: 5px;
        margin-top: 6px;
      }
    }
  }
}