@import "../../styles/main";

.g-action {
  &__link {
    cursor: pointer;
    border: none;
    background: none;
    display: inline-block;
    outline-offset: 0.25rem;

    &:focus:not(:focus-visible) {
      outline-style: none;
    }

    /*
    * =======
    * Sizes
    * =======
    */
    &--size-small {
      font-size: var(--text-sizes-small);
    }
    &--size-regular {
      font-size: var(--text-sizes-regular);
    }
    &--size-large {
      font-size: var(--text-sizes-large);
    }

    /*
    * =======
    * Weight
    * =======
    */
    &--weight-regular {
      font-weight: var(--text-weights-regular);
    }
    &--weight-medium {
      font-weight: var(--text-weights-medium);
    }
    &--weight-semibold {
      font-weight: var(--text-weights-semi-bold);
    }
    &--weight-bold {
      font-weight: var(--text-weights-bold);
    }

    /*
    * =======
    * Contexts
    * =======
    */
    // Info
    &--context-info {
      color: var(--colors-info-70);
      font-weight: var(--text-weights-bold);
      &:hover {
        color: var(--colors-info-80);
      }
      &:active {
        color: var(--colors-info-90);
      }

      &.g-action__link--appearance-navbar {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--colors-neutral-28);
        text-wrap: nowrap;
        font-size: var(--dimensions-regular);
        font-weight: var(--text-weights-medium);
        transition: all 0.2s ease-in-out;
        &::after {
          content: "";
          background-color: transparent;
          width: 0;
          height: 2px;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease-in-out;
        }
        &:hover::after {
          width: var(--dimensions-regular);
          background-color: var(--colors-info-80);
        }
        &:hover {
          color: var(--colors-info-80);
        }
      }

      &.g-action__link--appearance-dropdown {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--colors-neutral-28);
        text-wrap: nowrap;
        font-size: var(--dimensions-regular);
        font-weight: var(--text-weights-medium);
        transition: all 0.2s ease-in-out;
        &::after {
          content: "";
          background-color: transparent;
          width: 0;
          height: 2px;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease-in-out;
        }
        &:hover::after {
          width: var(--dimensions-regular);
          background-color: var(--colors-info-80);
        }
        &:hover {
          color: var(--colors-neutral-12);
        }
      }
    }

    // Error
    &--context-error {
      color: var(--colors-error-70);
      font-weight: var(--text-weights-bold);
      &:hover {
        color: var(--colors-error-80);
      }
      &:active {
        color: var(--colors-error-90);
      }

      &.g-action__link--appearance-navbar {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--colors-neutral-28);
        text-wrap: nowrap;
        font-size: var(--dimensions-regular);
        font-weight: var(--text-weights-medium);
        transition: all 0.2s ease-in-out;
        &::after {
          content: "";
          background-color: transparent;
          width: 0;
          height: 2px;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease-in-out;
        }
        &:hover::after {
          width: var(--dimensions-regular);
          background-color: var(--colors-error-80);
        }
        &:hover {
          color: var(--colors-error-90);
        }
      }

      &.g-action__link--appearance-dropdown {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--colors-neutral-28);
        text-wrap: nowrap;
        font-size: var(--dimensions-regular);
        font-weight: var(--text-weights-medium);
        transition: all 0.2s ease-in-out;
        &::after {
          content: "";
          background-color: transparent;
          width: 0;
          height: 2px;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease-in-out;
        }
        &:hover::after {
          width: var(--dimensions-regular);
          background-color: var(--colors-error-80);
        }
        &:hover {
          color: var(--colors-neutral-12);
        }
      }
    }

    // Neutral
    &--context-neutral {
      color: var(--colors-neutral-44);
      font-weight: var(--text-weights-bold);
      &:hover {
        color: var(--colors-neutral-110);
      }
      &:active {
        color: var(--colors-neutral-120);
      }

      &.g-action__link--appearance-navbar {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--colors-neutral-28);
        text-wrap: nowrap;
        font-size: var(--dimensions-regular);
        font-weight: var(--text-weights-medium);
        transition: all 0.2s ease-in-out;
        &::after {
          content: "";
          background-color: transparent;
          width: 0;
          height: 2px;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease-in-out;
        }
        &:hover::after {
          width: var(--dimensions-regular);
          background-color: var(--colors-neutral-100);
        }
      }

      &.g-action__link--appearance-dropdown {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--colors-neutral-28);
        text-wrap: nowrap;
        font-size: var(--dimensions-regular);
        font-weight: var(--text-weights-medium);
        transition: all 0.2s ease-in-out;
        &::after {
          content: "";
          background-color: transparent;
          width: 0;
          height: 2px;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease-in-out;
        }
        &:hover::after {
          width: var(--dimensions-regular);
          background-color: var(--colors-neutral-100);
        }
        &:hover {
          color: var(--colors-neutral-12);
        }
      }
    }

    // Success
    &--context-success {
      color: var(--colors-success-70);
      font-weight: var(--text-weights-bold);
      &:hover {
        color: var(--colors-success-80);
      }
      &:active {
        color: var(--colors-success-90);
      }

      &.g-action__link--appearance-navbar {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--colors-neutral-28);
        text-wrap: nowrap;
        font-size: var(--dimensions-regular);
        font-weight: var(--text-weights-medium);
        transition: all 0.2s ease-in-out;
        &::after {
          content: "";
          background-color: transparent;
          width: 0;
          height: 2px;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease-in-out;
        }
        &:hover::after {
          width: var(--dimensions-regular);
          background-color: var(--colors-success-80);
        }
        &:hover {
          color: var(--colors-success-90);
        }
      }

      &.g-action__link--appearance-dropdown {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--colors-neutral-28);
        text-wrap: nowrap;
        font-size: var(--dimensions-regular);
        font-weight: var(--text-weights-medium);
        transition: all 0.2s ease-in-out;
        &::after {
          content: "";
          background-color: transparent;
          width: 0;
          height: 2px;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease-in-out;
        }
        &:hover::after {
          width: var(--dimensions-regular);
          background-color: var(--colors-success-80);
        }
        &:hover {
          color: var(--colors-neutral-12);
        }
      }
    }

    // Primary
    &--context-primary {
      color: var(--colors-primary-70);
      font-weight: var(--text-weights-bold);
      &:hover {
        color: var(--colors-primary-80);
      }
      &:active {
        color: var(--colors-primary-90);
      }

      &.g-action__link--appearance-navbar {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--colors-neutral-28);
        text-wrap: nowrap;
        font-size: var(--dimensions-regular);
        font-weight: var(--text-weights-medium);
        transition: all 0.2s ease-in-out;
        &::after {
          content: "";
          background-color: transparent;
          width: 0;
          height: 2px;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease-in-out;
        }
        &:hover::after {
          width: var(--dimensions-regular);
          background-color: var(--colors-primary-80);
        }
        &:hover {
          color: var(--colors-primary-90);
        }
      }

      &.g-action__link--appearance-dropdown {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--colors-neutral-28);
        text-wrap: nowrap;
        font-size: var(--dimensions-regular);
        font-weight: var(--text-weights-medium);
        transition: all 0.2s ease-in-out;
        &::after {
          content: "";
          background-color: transparent;
          width: 0;
          height: 2px;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease-in-out;
        }
        &:hover::after {
          width: var(--dimensions-regular);
          background-color: var(--colors-primary-80);
        }
        &:hover {
          color: var(--colors-neutral-12);
        }
      }
    }

    // Secondary
    &--context-secondary {
      color: var(--colors-secondary-70);
      font-weight: var(--text-weights-bold);
      &:hover {
        color: var(--colors-secondary-80);
      }
      &:active {
        color: var(--colors-secondary-90);
      }

      &.g-action__link--appearance-navbar {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--colors-neutral-28);
        text-wrap: nowrap;
        font-size: var(--dimensions-regular);
        font-weight: var(--text-weights-medium);
        transition: all 0.2s ease-in-out;
        &::after {
          content: "";
          background-color: transparent;
          width: 0;
          height: 2px;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease-in-out;
        }
        &:hover::after {
          width: var(--dimensions-regular);
          background-color: var(--colors-secondary-80);
        }
        &:hover {
          color: var(--colors-secondary-90);
        }
      }

      &.g-action__link--appearance-dropdown {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--colors-neutral-28);
        text-wrap: nowrap;
        font-size: var(--dimensions-regular);
        font-weight: var(--text-weights-medium);
        transition: all 0.2s ease-in-out;
        &::after {
          content: "";
          background-color: transparent;
          width: 0;
          height: 2px;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease-in-out;
        }
        &:hover::after {
          width: var(--dimensions-regular);
          background-color: var(--colors-secondary-80);
        }
        &:hover {
          color: var(--colors-neutral-12);
        }
      }
    }

    // Attention
    &--context-attention {
      color: var(--colors-attention-70);
      font-weight: var(--text-weights-bold);
      &:hover {
        color: var(--colors-attention-80);
      }
      &:active {
        color: var(--colors-attention-90);
      }

      &.g-action__link--appearance-navbar {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--colors-neutral-28);
        text-wrap: nowrap;
        font-size: var(--dimensions-regular);
        font-weight: var(--text-weights-medium);
        transition: all 0.2s ease-in-out;
        &::after {
          content: "";
          background-color: transparent;
          width: 0;
          height: 2px;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease-in-out;
        }
        &:hover::after {
          width: var(--dimensions-regular);
          background-color: var(--colors-attention-80);
        }
        &:hover {
          color: var(--colors-attention-90);
        }
      }

      &.g-action__link--appearance-dropdown {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: var(--colors-neutral-28);
        text-wrap: nowrap;
        font-size: var(--dimensions-regular);
        font-weight: var(--text-weights-medium);
        transition: all 0.2s ease-in-out;
        &::after {
          content: "";
          background-color: transparent;
          width: 0;
          height: 2px;
          position: absolute;
          bottom: 0;
          transition: all 0.2s ease-in-out;
        }
        &:hover::after {
          width: var(--dimensions-regular);
          background-color: var(--colors-attention-80);
        }
        &:hover {
          color: var(--colors-neutral-12);
        }
      }
    }
  }

  &__button {
    cursor: pointer;
    user-select: none;
    font-weight: var(--text-weights-bold);
    border-radius: var(--borders-large);
    text-decoration: none;

    @include focus;

    &:disabled {
      color: var(--colors-neutral-60);
      cursor: not-allowed;
      pointer-events: none;
      border-color: var(--colors-neutral-90);
      background-color: var(--colors-neutral-90);
    }

   /*
    * =======
    * Sizes
    * =======
    */
    &--size-small {
      height: var(--dimensions-xxx-large);
      padding: 0 1.5rem;
      font-size: var(--text-sizes-small);
      line-height: var(--text-line-heights-small);
      &.g-action__button--no-label {
        width: var(--dimensions-xxx-large);
      }
    }
    &--size-regular {
      height: var(--dimensions-big);
      padding: 0 1.5rem;
      font-size: var(--text-sizes-regular);
      line-height: var(--text-line-heights-small);
      &.g-action__button--no-label {
        width: var(--dimensions-big);
      }
    }
    &--size-large {
      height: var(--dimensions-xx-big);
      padding: 0 1.5rem;
      line-height: var(--text-line-heights-small);
      font-size: var(--text-sizes-large);
      &.g-action__button--no-label {
        width: var(--dimensions-xx-big);
      }
    }

    /*
    * =======
    * Weight
    * =======
    */
    &--weight-regular {
      font-weight: var(--text-weights-regular);
    }
    &--weight-medium {
      font-weight: var(--text-weights-medium);
    }
    &--weight-semibold {
      font-weight: var(--text-weights-semi-bold);
    }
    &--weight-bold {
      font-weight: var(--text-weights-bold);
    }

   /*
    * =======
    * Icons
    * =======
    */
    &--icon-left__icon {
      margin-top: var(--dimensions-xx-tiny);
      margin-right: var(--dimensions-tiny);
    }
    &--icon-right__icon {
      margin-top: var(--dimensions-xx-tiny);
      margin-left: var(--dimensions-tiny);
    }

    /*
    * =======
    * Fluid
    * =======
    */
    &--fluid {
      width: 100%;
    }

    /*
    * =======
    * Rounded
    * =======
    */
    &--rounded {
      border-radius: var(--dimensions-medium);
    }

    /*
    * =======
    * No Label
    * =======
    */
    &--no-label {
      padding: 0;
      border-radius: var(--borders-large);
    }

   /*
    * =======
    * Contexts
    * =======
    */
    // Info
    &--context-info {
      color: var(--colors-neutral-70);
      border: 1px solid var(--colors-info-80);
      background-color: var(--colors-info-80);

      &:hover:not(:focus) {
        border: 1px solid var(--colors-info-90);
        background-color: var(--colors-info-90);
      }

      &:active {
        border: 1px solid var(--colors-info-100);
        background-color: var(--colors-info-100);
      }

      &.g-action__button--appearance-outline {
        color: var(--colors-info-70);
        border: 1px solid var(--colors-info-70);
        background-color: transparent;

        &:hover:not(:focus) {
          background-color: var(--colors-info-50);
        }

        &:active {
          background-color: var(--colors-info-60);
        }
      }

      &.g-action__button--appearance-borderless{
        color: var(--colors-info-70);
        border: 1px solid transparent;
        background-color: transparent;

        &:hover:not(:focus) {
          border-color: var(--colors-info-40);
          background-color: var(--colors-info-40);

        }

        &:active {
          border-color: var(--colors-info-50);
          background-color: var(--colors-info-50);
        }
      }
    }

    // Error
    &--context-error {
      color: var(--colors-neutral-70);
      border: 1px solid var(--colors-error-80);
      background-color: var(--colors-error-80);

      &:hover:not(:focus) {
        border: 1px solid var(--colors-error-90);
        background-color: var(--colors-error-90);
      }

      &:active {
        border: 1px solid var(--colors-error-100);
        background-color: var(--colors-error-100);
      }

      &.g-action__button--appearance-outline {
        color: var(--colors-error-70);
        border: 1px solid var(--colors-error-70);
        background-color: transparent;

        &:hover:not(:focus) {
          background-color: var(--colors-error-50);
        }

        &:active {
          background-color: var(--colors-error-60);
        }
      }

      &.g-action__button--appearance-borderless{
        color: var(--colors-error-70);
        border: 1px solid transparent;
        background-color: transparent;

        &:hover:not(:focus) {
          border-color: var(--colors-error-40);
          background-color: var(--colors-error-40);

        }

        &:active {
          border-color: var(--colors-error-50);
          background-color: var(--colors-error-50);
        }
      }
    }

    // Neutral
    &--context-neutral {
      border: var(--colors-neutral-100);
      color: var(--colors-neutral-70);
      background-color: var(--colors-neutral-100);

      &:hover:not(:focus) {
        color: var(--colors-neutral-70);
        border: var(--colors-neutral-110);
        background-color: var(--colors-neutral-110);
      }

      &:active {
        color: var(--colors-neutral-70);
        border: var(--colors-neutral-120);
        background-color: var(--colors-neutral-120);
      }

      &:disabled {
        color: var(--colors-neutral-60);
        border: var(--colors-neutral-90);
        background-color: var(--colors-neutral-90);
      }

      &.g-action__button--appearance-outline {
        color: var(--colors-neutral-100);
        border: 1px solid var(--colors-neutral-100);
        background-color: var(--colors-neutral-70);
        &:hover:not(:focus) {
          color: var(--colors-neutral-100);
          border: 1px solid var(--colors-neutral-100);
          background-color: var(--colors-neutral-96);
        }

        &:active {
          color: var(--colors-neutral-100);
          border: 1px solid var(--colors-neutral-100);
          background-color: var(--colors-neutral-90);
        }

        &:disabled {
          color: var(--colors-neutral-60);
          border: 1px solid var(--colors-neutral-90);
          background-color: var(--colors-neutral-70);
        }
      }

      &.g-action__button--appearance-borderless {
        color: var(--colors-neutral-100);
        border: 1px solid transparent;
        background-color: var(--colors-neutral-70);


        &:hover:not(:focus) {
          color: var(--colors-neutral-100);
          border: 1px solid transparent;
          background-color: var(--colors-neutral-96);
        }

        &:active {
          color: var(--colors-neutral-100);
          border: 1px solid transparent;
          background-color: var(--colors-neutral-90);
        }

        &:disabled {
          color: var(--colors-neutral-60);
          border: 1px solid transparent;
          background-color: var(--colors-neutral-70);
        }
      }
    }

    // Success
    &--context-success {
      color: var(--colors-neutral-70);
      border: 1px solid var(--colors-success-80);
      background-color: var(--colors-success-80);

      &:hover:not(:focus) {
        border: 1px solid var(--colors-success-90);
        background-color: var(--colors-success-90);
      }

      &:active {
        border: 1px solid var(--colors-success-100);
        background-color: var(--colors-success-100);
      }

      &.g-action__button--appearance-outline {
        color: var(--colors-success-70);
        border: 1px solid var(--colors-success-70);
        background-color: transparent;

        &:hover:not(:focus) {
          background-color: var(--colors-success-50);
        }

        &:active {
          background-color: var(--colors-success-60);
        }
      }

      &.g-action__button--appearance-borderless{
        color: var(--colors-success-70);
        border: 1px solid transparent;
        background-color: transparent;

        &:hover:not(:focus) {
          border-color: var(--colors-success-40);
          background-color: var(--colors-success-40);

        }

        &:active {
          border-color: var(--colors-success-50);
          background-color: var(--colors-success-50);
        }
      }
    }

    // Primary
    &--context-primary {
      border: 1px solid var(--colors-primary-70);
      color: var(--colors-neutral-70);
      background-color: var(--colors-primary-70);
      --standard-background-color: #{var(--colors-primary-70)};
      --standard-hover-background-color: #{var(--colors-primary-80)};

      &:hover:not(:focus) {
        border: 1px solid var(--colors-primary-80);
        background-color: var(--colors-primary-80);
      }

      &:active {
        border: 1px solid var(--colors-primary-100);
        background-color: var(--colors-primary-100);
      }

      &.g-action__button--appearance-outline {
        color: var(--colors-primary-70);
        border: 1px solid var(--colors-primary-70);
        background-color: transparent;

        &:hover:not(:focus) {
          background-color: var(--colors-primary-50);
        }

        &:active {
          background-color: var(--colors-primary-60);
        }
      }

      &.g-action__button--appearance-borderless{
        color: var(--colors-primary-70);
        border: 1px solid transparent;
        background-color: transparent;

        &:hover:not(:focus) {
          border-color: var(--colors-primary-40);
          background-color: var(--colors-primary-40);

        }

        &:active {
          border-color: var(--colors-primary-50);
          background-color: var(--colors-primary-50);
        }
      }
    }

    // Secondary
    &--context-secondary {
      border: 1px solid var(--colors-secondary-70);
      color: var(--colors-neutral-70);
      background-color: var(--colors-secondary-70);
      --standard-background-color: #{var(--colors-secondary-70)};
      --standard-hover-background-color: #{var(--colors-secondary-80)};

      &:hover:not(:focus) {
        border: 1px solid var(--colors-secondary-80);
        background-color: var(--colors-secondary-80);
      }

      &:active {
        border: 1px solid var(--colors-secondary-100);
        background-color: var(--colors-secondary-100);
      }

      &.g-action__button--appearance-outline {
        color: var(--colors-secondary-70);
        border: 1px solid var(--colors-secondary-70);
        background-color: transparent;

        &:hover:not(:focus) {
          background-color: var(--colors-secondary-50);
        }

        &:active {
          background-color: var(--colors-secondary-60);
        }
      }

      &.g-action__button--appearance-borderless{
        color: var(--colors-secondary-70);
        border: 1px solid transparent;
        background-color: transparent;

        &:hover:not(:focus) {
          border-color: var(--colors-secondary-40);
          background-color: var(--colors-secondary-40);

        }

        &:active {
          border-color: var(--colors-secondary-50);
          background-color: var(--colors-secondary-50);
        }
      }
    }

    // Attention
    &--context-attention {
      color: var(--colors-neutral-70);
      border: 1px solid var(--colors-attention-80);
      background-color: var(--colors-attention-80);

      &:hover:not(:focus) {
        border: 1px solid var(--colors-attention-90);
        background-color: var(--colors-attention-90);
      }

      &:active {
        border: 1px solid var(--colors-attention-100);
        background-color: var(--colors-attention-100);
      }

      &.g-action__button--appearance-outline {
        color: var(--colors-attention-70);
        border: 1px solid var(--colors-attention-70);
        background-color: transparent;

        &:hover:not(:focus) {
          background-color: var(--colors-attention-60);
        }

        &:active {
          background-color: var(--colors-attention-60);
        }
      }

      &.g-action__button--appearance-borderless{
        color: var(--colors-attention-70);
        border: 1px solid transparent;
        background-color: transparent;

        &:hover:not(:focus) {
          border-color: var(--colors-attention-40);
          background-color: var(--colors-attention-40);

        }

        &:active {
          border-color: var(--colors-attention-60);
          background-color: var(--colors-attention-60);
        }
      }
    }

    /*
    * =======
    * Appearance
    * =======
    */
    // Select
    &--appearance-select {
      color: var(--colors-neutral-110);
      border: 1px solid var(--colors-neutral-90);
      background-color: var(--colors-neutral-70);
      &:hover:not(:focus) {
        color: var(--colors-neutral-110);
        border: 1px solid var(--colors-neutral-90);
        background-color: var(--colors-neutral-96);
      }
      &:active {
        color: var(--colors-neutral-70);
        border: 1px solid var(--colors-neutral-110);
        background-color: var(--colors-neutral-110);
      }
      &:disabled {
        color: var(--colors-neutral-100);
        border: 1px solid var(--colors-neutral-60);
        background-color: var(--colors-neutral-90);
      }
      &.g-action__button--selected {
        color: var(--colors-neutral-70);
        background: var(--colors-neutral-120);
      }
      &.g-action__button--selected.g-action__button--context-primary {
        color: var(--colors-neutral-70);
        background: var(--colors-primary-70);
      }
      &.g-action__button--selected.g-action__button--context-secondary {
        color: var(--colors-neutral-70);
        background: var(--colors-secondary-70);
      }
    }

    // Icon Button
    &--appearance-iconButton {
      display: flex;
      width: var(--dimensions-big);
      height: var(--dimensions-big);
      padding: 0;
      align-items: center;
      justify-content: center;
      background-color: var(--color-neutral-70);

      &.g-action__button--size-small {
        width: var(--dimensions-xxx-large);
        height: var(--dimensions-xxx-large);
      }
    }

    &--appearance-iconButton.g-action__button--context-info {
      &:not(:disabled) {
        border: 1px solid var(--colors-neutral-90);
        color: var(--colors-info-70);
      }
      &:hover:not(:focus) {
        border: 1px solid var(--colors-neutral-90);
        background-color: var(--colors-info-60);
      }
      &:active,
      &.g-action__button--selected {
        color: var(--color-neutral-70);
        border-color: var(--colors-info-70);
        background-color: var(--colors-info-70);
      }
    }
    &--appearance-iconButton.g-action__button--context-error {
      &:not(:disabled) {
        border: 1px solid var(--colors-neutral-90);
        color: var(--colors-error-70);
      }
      &:hover:not(:focus) {
        border: 1px solid var(--colors-neutral-90);
        background-color: var(--colors-error-60);
      }
      &:active,
      &.g-action__button--selected {
        color: var(--color-neutral-70);
        border-color: var(--colors-error-70);
        background-color: var(--colors-error-70);
      }
    }
    &--appearance-iconButton.g-action__button--context-success {
      &:not(:disabled) {
        border: 1px solid var(--colors-neutral-90);
        color: var(--colors-success-70);
      }
      &:hover:not(:focus) {
        border: 1px solid var(--colors-neutral-90);
        background-color: var(--colors-success-60);
      }
      &:active,
      &.g-action__button--selected {
        color: var(--color-neutral-70);
        border-color: var(--colors-success-70);
        background-color: var(--colors-success-70);
      }
    }
    &--appearance-iconButton.g-action__button--context-primary {
      &:not(:disabled) {
        border: 1px solid var(--colors-neutral-90);
        color: var(--colors-primary-70);
      }
      &:hover:not(:focus) {
        border: 1px solid var(--colors-neutral-90);
        background-color: var(--colors-primary-50);
      }
      &:active,
      &.g-action__button--selected {
        color: var(--color-neutral-70);
        border-color: var(--colors-primary-70);
        background-color: var(--colors-primary-70);
      }
    }
    &--appearance-iconButton.g-action__button--context-secondary {
      &:not(:disabled) {
        border: 1px solid var(--colors-neutral-90);
        color: var(--colors-secondary-70);
      }
      &:hover:not(:focus) {
        border: 1px solid var(--colors-neutral-90);
        background-color: var(--colors-secondary-50);
      }
      &:active,
      &.g-action__button--selected {
        color: var(--color-neutral-70);
        border-color: var(--colors-secondary-70);
        background-color: var(--colors-secondary-70);
      }
    }
    &--appearance-iconButton.g-action__button--context-attention {
      &:not(:disabled) {
        border: 1px solid var(--colors-neutral-90);
        color: var(--colors-attention-70);
      }
      &:hover:not(:focus) {
        border: 1px solid var(--colors-neutral-90);
        background-color: var(--colors-attention-60);
      }
      &:active,
      &.g-action__button--selected {
        color: var(--color-neutral-70);
        border-color: var(--colors-attention-70);
        background-color: var(--colors-attention-70);
      }
    }

    //outline
    &--appearance-outline {
      &:disabled {
        color: var(--color-neutral-100);
        border-color: var(--color-neutral-90);
      }
    }

  }
}