@import "../../styles/main";
.g-avatar {
  border: 1px solid var(--colors-neutral-96);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-radius: var(--borders-x-large);
  justify-content: center;
  background-color: var(--colors-neutral-70);

  &__img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    object-fit: cover;
    transition: opacity 0.2s;
    &--loaded {
      opacity: 1;
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: var(--borders-x-large);
  }

  &__size {
    &--small,
    &--medium {
      .l-text {
        font-size: var(--text-sizes-small);
      }
    }

    &--large,
    &--xlarge {}

    &--small {
      width: calc(1.25 * var(--dimensions-regular));
      height: calc(1.25 * var(--dimensions-regular));

      &.g-avatar__has-notification {
        &:after {
          width: calc(var(--dimensions-xx-tiny) + var(--dimensions-x-tiny));
          height: calc(var(--dimensions-xx-tiny) + var(--dimensions-x-tiny));
        }
      }
    }

    &--medium {
      width: calc(2 * var(--dimensions-regular));
      height: calc(2 * var(--dimensions-regular));

      &.g-avatar__has-notification {
        &:after {
          width: calc(0.625 * var(--dimensions-regular));
          height: calc(0.625 * var(--dimensions-regular));
        }
      }
    }

    &--large {
      width: calc(2.5 * var(--dimensions-regular));
      height: calc(2.5 * var(--dimensions-regular));
    }

    &--xlarge {
      width: calc(3.5 * var(--dimensions-regular));
      height: calc(3.5 * var(--dimensions-regular));
    }
  }

  &__has-notification {
    &:after {
      top: 0;
      right: 0;
      border: 1px solid var(--colors-neutral-70);
      content: "";
      position: absolute;
      background: var(--colors-error-80);
      border-radius: 100%;
    }
  }
}