@import "../../../styles/main";

.header-sidebar {
  &__button {
    &--link {
      &-icon {
        margin-right: 5px;
        svg {
          width: 16px;
          height: 16px;
          vertical-align: middle;
          margin-bottom: 4px;
        }
      }
    }
  }
}