$token-color-neutral-12: #1a1d23;
$token-color-neutral-28: #3c4453;
$token-color-neutral-70: #ffffff;
$token-color-neutral-84: #cfd4dd;
$token-color-neutral-90: #cfd4dd;
$token-color-neutral-96: #f5f6f7;
$token-color-neutral-100: #ffffff;
$token-color-neutral-110: #5e6a82;
$token-color-neutral-120: #3c4453;
$token-color-neutral-130: #1a1d23;

$token-color-primary-20: #EBECF6;
$token-color-primary-30: #D5DCEF;
$token-color-primary-40: #C0CBE7;
$token-color-primary-50: #AABADD;
$token-color-primary-60: #93A9D5;
$token-color-primary-70: #7C9BCF;
$token-color-primary-80: #648DC7;
$token-color-primary-90: #497FBF;
$token-color-primary-100: #2D73B9;

$token-color-secondary-20: #EBF4EA;
$token-color-secondary-30: #D5E9D7;
$token-color-secondary-40: #BEDFC4;
$token-color-secondary-50: #A4D4B0;
$token-color-secondary-60: #89CA9D;
$token-color-secondary-70: #69C08A;
$token-color-secondary-80: #3EB677;
$token-color-secondary-90: #00AD63;
$token-color-secondary-100: #00A54E;