$token-color-neutral-12: #1a1d23;
$token-color-neutral-28: #3c4453;
$token-color-neutral-44: #5e6a82;
$token-color-neutral-60: #8994a9;
$token-color-neutral-70: #ffffff;
$token-color-neutral-84: #cfd4dd;
$token-color-neutral-90: #cfd4dd;
$token-color-neutral-96: #f5f6f7;
$token-color-neutral-100: #ffffff;
$token-color-neutral-110: #5e6a82;
$token-color-neutral-120: #3c4453;
$token-color-neutral-130: #1a1d23;

$token-color-primary-20: #EBECF6;
$token-color-primary-30: #D5DCEF;
$token-color-primary-40: #C0CBE7;
$token-color-primary-50: #AABADD;
$token-color-primary-60: #93A9D5;
$token-color-primary-70: #7C9BCF;
$token-color-primary-80: #648DC7;
$token-color-primary-90: #497FBF;
$token-color-primary-100: #2D73B9;

$token-color-secondary-20: #EBF4EA;
$token-color-secondary-30: #D5E9D7;
$token-color-secondary-40: #BEDFC4;
$token-color-secondary-50: #A4D4B0;
$token-color-secondary-60: #89CA9D;
$token-color-secondary-70: #69C08A;
$token-color-secondary-80: #3EB677;
$token-color-secondary-90: #00AD63;
$token-color-secondary-100: #00A54E;

$token-color-aux-1-70: #c1ecfb;
$token-color-aux-1-80: #c1ecfb;
$token-color-aux-1-90: #61cff5;
$token-color-aux-1-100: #0eaae0;
$token-color-aux-1-110: #0b87b2;
$token-color-aux-1-120: #086282;
$token-color-aux-1-130: #086282;

$token-color-aux-2-70: #ebf4d7;
$token-color-aux-2-80: #ebf4d7;
$token-color-aux-2-90: #c4dd88;
$token-color-aux-2-100: #9cc539;
$token-color-aux-2-110: #7d9e2e;
$token-color-aux-2-120: #5e7722;
$token-color-aux-2-130: #5e7722;

$token-color-aux-3-70: #fcecde;
$token-color-aux-3-80: #fcecde;
$token-color-aux-3-90: #f4b480;
$token-color-aux-3-100: #ec7b20;
$token-color-aux-3-110: #ca6411;
$token-color-aux-3-120: #9b4d0d;
$token-color-aux-3-130: #9b4d0d;

$token-color-aux-4-70: #fbe0e8;
$token-color-aux-4-80: #fbe0e8;
$token-color-aux-4-90: #f19cb6;
$token-color-aux-4-100: #e85884;
$token-color-aux-4-110: #e22c64;
$token-color-aux-4-120: #c11b4d;
$token-color-aux-4-130: #c11b4d;

$token-color-aux-5-70: #fff9cc;
$token-color-aux-5-80: #fff9cc;
$token-color-aux-5-90: #ffec66;
$token-color-aux-5-100: #ffdf00;
$token-color-aux-5-110: #ccb200;
$token-color-aux-5-120: #998600;
$token-color-aux-5-130: #998600;

$token-color-aux-6-70: #fbd5d8;
$token-color-aux-6-80: #fbd5d8;
$token-color-aux-6-90: #f7a6ad;
$token-color-aux-6-100: #ee4957;
$token-color-aux-6-110: #bf1221;
$token-color-aux-6-120: #620911;
$token-color-aux-6-130: #620911;

$token-color-success-70: #def9cc;
$token-color-success-80: #def9cc;
$token-color-success-90: #8ce563;
$token-color-success-100: #24a148;
$token-color-success-110: #197b35;
$token-color-success-120: #105323;
$token-color-success-130: #105323;

$token-color-attention-70: #fff7e0;
$token-color-attention-80: #fff7e0;
$token-color-attention-90: #ffe19a;
$token-color-attention-100: #f9af27;
$token-color-attention-110: #7b5613;
$token-color-attention-120: #3c2a09;
$token-color-attention-130: #3c2a09;

$token-color-error-70: #fff5f5;
$token-color-error-80: #fff5f5;
$token-color-error-90: #f48787;
$token-color-error-100: #e22828;
$token-color-error-110: #901111;
$token-color-error-120: #3b0505;
$token-color-error-130: #3b0505;

$token-color-info-70: #e1f9ff;
$token-color-info-80: #e1f9ff;
$token-color-info-90: #9ce6f9;
$token-color-info-100: #28b5d9;
$token-color-info-110: #14596b;
$token-color-info-120: #0a2b34;
$token-color-info-130: #0a2b34;

$token-color-focus: #70a5ff;

$token-color-facebook-100: #3b5998;
$token-color-facebook-110: #36528c;
$token-color-facebook-120: #324b80;

$token-color-google-100: #4285f4;
$token-color-google-110: #3d7ae0;
$token-color-google-120: #3770cd;

$token-color-whatsapp-100: #2ecc71;
$token-color-whatsapp-110: #2abc68;
$token-color-whatsapp-120: #26ab5e;