
// FONT-SIZE
$token-size-font-tiny: 0.625rem; // 10px if 16px = 1rem
$token-size-font-xsmall: 0.75rem; // 12px if 16px = 1rem
$token-size-font-small: 0.875rem; // 14px if 16px = 1rem
$token-size-font-regular: 1rem; // 16px if 16px = 1rem
$token-size-font-medium: 1.125rem; // 18px if 16px = 1rem
$token-size-font-large: 1.25rem; // 20px if 16px = 1rem
$token-size-font-xlarge: 1.5rem; // 24px if 16px = 1rem
$token-size-font-big: 2rem; // 32px if 16px = 1rem
$token-size-font-huge: 2.5rem; // 40px if 16px = 1rem
$token-size-font-giant: 3rem; // 48px if 16px = 1rem

// FONT-WEIGHT
$token-font-weight-normal: 400;
$token-font-weight-medium: 500;
$token-font-weight-semi-bold: 600;
$token-font-weight-bold: 700;

// LINE-HEIGHT
$token-line-height-tiny: 1.125rem;
$token-line-height-xsmall: 1.25rem;
$token-line-height-small: 1.5rem;
$token-line-height-regular: 1.75rem;
$token-line-height-medium: 2rem;
$token-line-height-large: 2.5rem;
$token-line-height-xlarge: 3.5rem;
$token-line-height-big: 4rem;
$token-line-height-huge: 4.5rem;
$token-line-height-giant: 5rem;