// COLORS
@import "_colors";

// SPACING
@import "_spacings";

// BORDER
$token--border-radius-none: 0;
$token--border-radius-xxsmall: 2px;
$token--border-radius-xsmall: 4px;
$token--border-radius-small: 8px;
$token--border-radius-regular: 12px;
$token--border-radius-medium: 16px;
$token--border-radius-large: 24px;
$token-border-radius-rounded: 26px;
$token--border-radius-xlarge: 32px;
$token--border-radius-big: 40px;
$token--border-radius-pill: 500px;
$token--border-radius-circle: 50%;

// BREAKPOINTS
$token-breakpoint-xs: 0;
$token-breakpoint-sm: 360px;
$token-breakpoint-md: 720px;
$token-breakpoint-lg: 1024px;
$token-breakpoint-xl: 1279px;

// FONTS
@import "_fonts";

// Z-INDEX
$token-z-index-modal: 90;

// MEDIA QUERIES
@import "_media-queries";

