@import "../../../styles/main";

.header-dropdown {
  &__button {
    padding: 0;
    border: none;
    cursor: pointer;
    text-wrap: nowrap;
    background-color: transparent;
    color: var(--colors-neutral-28);
    font-size: var(--dimensions-regular);
    font-weight: var(--text-weights-medium);
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      background-color: transparent;
      width: 0;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all 0.2s ease-in-out;
    }

    &:hover::after {
      width: 16px;
      background-color: var(--colors-primary-100);
    }

    &:hover {
      color: var(--colors-primary-100);
    }
    &-icon {
      margin-top: .5rem;
    }
  }
  &__content {
    background-color: var(--colors-neutral-70);
    border-radius: 8px;
    box-shadow: var(--shadows-x-small);
    position: absolute;
    top: 100%;
    padding: 1rem 0;
  }
}